<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Microblog</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
	<!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/socket.io.js"></script>
  </head>
  <body>

	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Microblog</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				<li class="active"><a href="/">首页</a></li>
				<% if (!user) { %>
				<li><a href="/login">登录</a></li>
				<li><a href="/reg">注册</a></li>
				<% } else { %>
				<li><a href="/logout" onclick="disconnect();">退出</a></li>
				<li><a href="/u/<%= user.name %>">当前用户：<%= user.name %></a></li>
				<% } %>
				</ul>
			</div>
		</div>
	</div>
	<div id="container" class="container" style="padding:60px;">
		<% if (success) { %>
		<div class="alert alert-success">
			<%= success %>
		</div>
		<% } %>
		<% if (error) { %>
		<div class="alert alert-error">
			<%= error %>
		</div>
		<% } %>
	  <%- body %>

	  <hr />
	  <footer>
		<p>
			<a href="https://github.com/simplyred4ever/express-microblog" target="_blank">express-microblog</a> 2016
		</p>
	  </footer>
	</div>
  <% if (user) { %>
  <script>
var socket;
var username = '<%= user.name %>';
$(document).ready(function(){
  connect();
});
var firstConnect = true;

function connect() {
  if (firstConnect) {
    //io.set('transports', ['websocket','flashsocket', 'htmlfile', 'xhr-polling', 'jsonp-polling']);
    socket = io.connect(window.location.protocol + '//' + window.location.host);//null
    socket.on('message', function (data) {
        message(data);
    });
    /*socket.on('connect', function () {
        status_update("Connected to Server");
    });
    socket.on('disconnect', function () {
        status_update("Disconnected from Server");
    });*/
    firstConnect = false;
  }
}

function disconnect() {
  socket.disconnect();
}

function message(data) {
  if (data.exclude == 'username') {
    return;
  }
  if (data.msg == 'reload') {
    window.location.reload();
  }
}

/*function status_update(txt) {
  $('#status').html(txt);
}*/
  </script>
  <% } %>
  </body>
</html>
