<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Microblog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/mermaid/6.0.0/mermaid.min.css"/>
    <!--[if lt IE 9]>
    <script>
    (function(){
      var ef = function(){};
      window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
    }());
    </script>
    <script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/es5-shim/4.5.9/es5-shim.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/es5-shim/4.5.9/es5-sham.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--[if !IE | (IE 9)]><!-->
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/mermaid/6.0.0/mermaid.js"></script>
    <script type="text/javascript" src="/javascripts/latex2html5.min.js"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="//cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [["$","$"],["\\(","\\)"]],
          processEscapes: true

        },
        MathML: {
          extensions: ["content-mathml.js"]
        },
        processClass: 'mathjax',
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          },
          extensions: ["autobold.js", "AMSmath.js", "AMSsymbols.js"]
        },
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        "HTML-CSS": { linebreaks: { automatic:true, width: "latex-container"} }
      });
    </script>
    <script type="text/javascript" src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>

  var socket, username;
  $(document).ready(function(){
  <% if (user) { %>
    username = '<%= user.name %>';
    try{
      //connect();
    } catch(ex){

    }
  <% } %>
    try{
      mermaid.initialize({
        startOnLoad: true,
        htmlLabels: true
      });
    } catch(ex){

    }

    $('.markdown').each(function(){
      $(this).html(markdown.toHTML($(this).text()));
    });

    $('.remove-post').click(function(){
        var id = $(this).attr('data-id');
        alert(id);
        $.get('/post/' + id + '', null, function(response,status,xhr){
          $('#' + id).remove();
          alert(response.msg);
        });
    })

  });
  var firstConnect = true;

  function connect() {
    if (firstConnect) {
      //io.set('transports', ['websocket','flashsocket', 'htmlfile', 'xhr-polling', 'jsonp-polling']);
      socket = io.connect(window.location.protocol + '//' + window.location.host);//null
      socket.on('message', function (data) {
          message(data);
      });
      /*socket.on('connect', function () {
          status_update("Connected to Server");
      });
      socket.on('disconnect', function () {
          status_update("Disconnected from Server");
      });*/
      firstConnect = false;
    }
  }

  function disconnect() {
    socket.disconnect();
  }

  function message(data) {
    if (data.exclude == 'username') {
      return;
    }
    if (data.msg == 'reload') {
      window.location.reload();
    }
  }

  /*function status_update(txt) {
    $('#status').html(txt);
  }*/
    </script>
  </head>
  <body>

	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Microblog</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				<li class="active"><a href="/">首页</a></li>
				<% if (!user) { %>
				<li><a href="/login">登录</a></li>
				<li><a href="/reg">注册</a></li>
				<% } else { %>
				<li><a href="/logout" onclick="disconnect();">退出</a></li>
				<li><a href="/u/<%= user.name %>">当前用户：<%= user.name %></a></li>
				<% } %>
				</ul>
			</div>
		</div>
	</div>
	<div id="container" class="container" style="padding:60px;">
		<% if (success) { %>
		<div class="alert alert-success">
			<%= success %>
		</div>
		<% } %>
		<% if (error) { %>
		<div class="alert alert-error">
			<%= error %>
		</div>
		<% } %>
	  <%- body %>

	  <hr />
	  <footer>
		<p>
			<a href="https://github.com/simplyred4ever/microblog" target="_blank">express-microblog</a> 2016
      <a href="http://www.expressjs.com.cn/" target="_blank">express.js 4.x</a>
      <a href="http://es6.ruanyifeng.com/" target="_blank">es6</a>
      <a href="https://github.com/socketio/socket.io" target="_blank">socket.io</a>
      <a href="http://www.appinn.com/markdown/#link" target="_blank">markdown</a>
      <a href="http://docs.mathjax.org/en/latest/start.html" target="_blank">mathjax</a>
      <a href="https://github.com/knsv/mermaid" target="_blank">mermaid</a>
		</p>
	  </footer>
	</div>
  </body>
</html>
