<% var classType= '', size='';
posts.forEach(function(post, index) {
  if (index % 3 == 0) { %>
    <div class="row">
<%} %>
<% if (post.post.match(/(\$\$.*\$\$)/)) {
  classType = 'mathjax';
  size = 'col-lg-4';
} else if (post.post.match(/^(classDiagram|sequenceDiagram|gantt|graph)/)) {
   classType = 'mermaid';
   size = 'col-lg-12';
 } else {
   classType = 'markdown';
   size = 'col-lg-4';
 } %>
  <div class="<%=size %>">
    <h2><a href="/u/<%= post.user %>"><%= post.user %></a> ：</h2>
    <p><small><%= post.time %></small></p>
    <p class="<%=classType %>"><%- post.post %></p>
  </div>
<% if (index % 3 == 2) { %>
    </div><!-- end row -->
<% } %>
<%}) %>
<% if (posts.length % 3 != 0) { %>
  </div><!-- end row -->
<%} %>
<input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
